server:
  port: 8085

spring:
  application:
    name: analytics-service
  datasource:
    url: "jdbc:postgresql://${SUPABASE_HOST:db.dslbtevbqmxlmulqxcqk.supabase.co}:${SUPABASE_PORT:5432}/postgres?stringtype=unspecified&prepareThreshold=0"
    username: ${SUPABASE_USER:postgres}
    password: ${SUPABASE_PASSWORD:chukiet2609}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none  # Read-only service
    show-sql: true
    properties:
      hibernate:
        format_sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
