server:
  port: 8083

spring:
  application:
    name: booking-service
  datasource:
    url: "jdbc:postgresql://${SUPABASE_HOST:aws-1-ap-southeast-1.pooler.supabase.com}:${SUPABASE_PORT:6543}/postgres?stringtype=unspecified&prepareThreshold=0"
    username: ${SUPABASE_USER:postgres.dslbtevbqmxlmulqxcqk}
    password: ${SUPABASE_PASSWORD:chukiet2609}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html

# Internal service URLs
services:
  notification-service:
    url: http://notification-service
